@page
@model RatingManagementSystem.Pages.Committee.Apps.GeologyAppsModel
@{
}

<!Doctype html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="stylesheet" href="/css/csstable/style.css">

</head>


@if (Model.ApplicationData == null || !Model.ApplicationData.Any())
{
    <p>There is no applications yet.</p>
}

else
{
    <hr />
    <h4 class="text-center" style="color:saddlebrown">Geology</h4>

    <hr />
    await Html.RenderPartialAsync("_AppsView");
}
<p>
    <a asp-page="/Index" class="brick-link">Back To Home Page</a>
</p>
</html>

<script src="js/jquery.min.js"></script>
<script src="js/popper.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/main.js">